@define-color color0                #383838;
@define-color color1                #a95551;
@define-color color2                #666666;
@define-color color3                #a98051;

@define-color color4                #657d3e;
@define-color color5                #767676;
@define-color color6                #c9c9c9;
@define-color color7                #d0b8a3;

@define-color color8                #474747;
@define-color color9                #a97775;
@define-color color10               #8c8c8c;
@define-color color11               #a99175;

@define-color color12               #98bd5e;
@define-color color13               #a3a3a3;
@define-color color14               #dcdcdc;
@define-color color15               #d8c8bb;

@define-color cursor                #a99075;
@define-color background            #222222;
@define-color foreground            #a0a0a0;
@define-color selection_background  #4d4d4d;
@define-color selection_foreground  #222222;

* {
    border: none;
    border-radius: 0;
    font-family: Cartograph CF Nerd Font, Iosevka Term;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: @color14;
}

tooltip {
    background: @background;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @background;
}

#workspaces,
#window,
#clock,
#custom-weather,
#custom-updates,
#custom-tasks,
#cpu,
#memory,
#disk,
#battery,
#network,
#bluetooth,
#idle_inhibitor,
#backlight,
#pulseaudio,
#tray {
    background: @color8;
    padding: 3px 10px;
    margin: 3px 0px;
}

#workspaces {
    border-radius: 10px;
}

#workspaces > * {
    margin: 0px 5px;
}

#workspaces button {
    background: @color0;
    border-radius: 10px;
}

#workspaces button.active {
    background: @background;
}

#workspaces button.urgent {
    color: @color1;
}

#workspaces button:hover {
    background: @color6;
    border-radius: 10px;
}

#window{
    border-radius: 10px;
    margin-left: 10px;
}

#clock {
    border-radius: 10px;
}

#custom-weather {
    border-radius: 10px;
    margin-left: 10px;
}

#custom-updates {
    color: @color13;
    margin-left: 10px;
    border-radius: 10px 0px 0px 10px;
}

#custom-tasks {
    color: @color13;
}

#cpu {
    color: @color14;
}

#memory {
    color: @color14;
}

#disk {
    color: @color13;
}

#battery {
    color: @color14;
}

#network {
    color: @color14;
}

#bluetooth {
    color: @color13;
}

#idle_inhibitor {
    color: @color13;
}

#backlight {
    color: @color14;
}

#pulseaudio {
    color: @color14;
    border-radius: 0px 10px 10px 0px;
}

#tray {
    border-radius: 10px;
    margin-left: 10px;
}
